* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 90vh;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

input,
button {
    display: inline-block;
    padding: 8px;
    margin: 8px;
}

button {
    background-color: #36309e;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: #161f66;
}

li {
    cursor: pointer;
}

.line {
    text-decoration: line-through;
}